@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Russo+One&display=swap");
html {
  width: 100%;
  height: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    360deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(89, 9, 121, 1) 35%,
    rgba(126, 0, 255, 1) 100%
  );
  color: white;
  font-family: "Roboto", sans-serif;
  font-family: "Russo One", sans-serif;
}
nav {
  text-transform: uppercase;
  display: grid;
}
.page-title {
  display: flex;
  margin: auto;
  position: relative;
  font-size: xx-large;
  letter-spacing: 1em;
  text-indent: 1em;
}
ul {
  left: 0;
  width: fit-content;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
}
li {
  background-color: rgba(77, 15, 77, 0.993);
  margin: 0 1em;
  padding: 0.5em 0.5em;
  border-radius: 3em;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: rgb(162, 98, 223);
}
a {
  text-decoration: none;
}

.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  height: 50%;
  display: grid;
  grid-template-columns: auto;
}
.wrapper > div {
  height: auto;
  margin: auto;
  display: grid;
}

div > h1 {
  margin: auto;
  display: flex;
}

td {
  padding-right: 2em;
}
textarea:focus,
input:focus {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.178);
}

select option {
  background-color: rgb(141, 88, 190);
}
.login-box {
  text-transform: uppercase;
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.164);
  display: flex;
  margin: auto;
  padding: 1em;
}
.login-box > h1 {
  display: flex;
  padding: auto auto;
  font-size: xx-large;
}
p > a {
  border-radius: 1em;
  padding: 0.5em;
  background-color: rgba(77, 15, 77, 0.993);
}
form {
  display: grid;
  margin: auto;
  font-size: small;
}
button {
  text-transform: uppercase;
  color: white;
  background-color: purple;
  border: 0;
  padding: 0.4em;
  border-radius: 2em;
  margin: auto;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-family: "Russo One", sans-serif;
}

input,
textarea,
select {
  font-family: "Roboto", sans-serif;
  font-family: "Russo One", sans-serif;
  color: white;
  border-radius: 3em;
  background-color: rgba(255, 255, 255, 0.178);
}
footer {
  position: fixed;
  bottom: 0;
  padding: 15px;
}
